body {
    padding: 50px;
    font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
    color: deeppink;
    background-color: pink, gray;
}

h1 {
    color: chartreuse;
}

a {
    color: #d82f11;
}
